:root.dark-mode {
  // Colors
  --very-dark-desaturated-blue: hsl(237, 79%, 95%);
  --very-dark-grayish-blue: hsl(237, 60%, 93%);
  --light-grayish-blue: hsl(0, 0%, 30%);

  // Gradient
  --soft-violet: hsl(273, 41%, 32%);
  --soft-blue: hsl(240, 40%, 31%);

  //Added
  --white: rgb(23, 25, 43);
}

.dark-mode-container {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  .dark-mode-checkbox {
    display: none;
  }

  .dark-mode-lebel {
    --clr-bg: linear-gradient(to top, violet, rgb(55, 137, 170));
    --clr-border: #ffffff;
    --clr-shadow: rgba(24, 27, 48, 0.8);
    --sh-height: 5rem;
    --border: calc(var(--sh-height) / 8);
    position: relative;
    display: block;
    width: calc(var(--sh-height) * 1.7);
    height: var(--sh-height);
    background: var(--clr-bg);
    border-radius: 99999px;
    border: var(--border) solid var(--clr-border);
    box-shadow: 0 0 10px var(--clr-shadow);
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      background: url(../images/icon-light.svg) no-repeat center / 80%;
      --clr-circle: #4343ff;
      --circle: calc(var(--sh-height) - var(--border) * 2);
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%) rotate(0deg);

      width: var(--circle);
      height: var(--circle);
      border-radius: 99999px;
      background-color: var(--clr-circle);
      transition: left 0.2s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  .dark-mode-checkbox:checked ~ .dark-mode-lebel::before {
    background-image: url(../images/icon-dark.svg);

    --clr-circle: #2c2cd8;
    left: calc(100% - var(--circle));
    transform: translateY(-50%) rotate(360deg);
  }

  .dark-mode-checkbox:checked ~ .dark-mode-lebel {
    --clr-shadow: rgba(24, 27, 48, 1);
    --clr-bg: linear-gradient(to top, rgb(121, 57, 121), rgb(36, 97, 121));
    --clr-border: #736ba3;
  }
}
